<div class='space-2rem'></div>
<div class='appendix diameter'>
    * Overall diameter is calculated from the following <a href='http://en.wikibedia.ru/wiki/Nominal_size'>nominal values</a>: wheel diameter, section width, and aspect ratio. In practice, a tire is somewhat smaller than its advertised dimensions. See
    <a href='//wayalife.com/showthread.php/35075-The-Ultimate-TRUE-TIRE-SIZE-Database'>this page</a>.
</div>

