<div class='options hide-on-filter-change'>
    <h3 style='min-width: 30rem'>Columns</h3>
    <!--<input disabled type="checkbox" id='specify-exact-size'>
        <label for='specify-exact-size'>Exact Filters</label><br>
    -->
    <input type="checkbox" id='show-stddev'>
        <label for='show-stddev'>Min, Max, and Stddev</label><br>
    <input type="checkbox" id='show-diameter'>
        <label for='show-diameter'>Overall Diameter</label><br>
    <input type="checkbox" id='show-utqg'>
        <label for='show-utqg'>UTQG Treadwear</label><br>
</div>
