<div class='options hide-on-filter-change'>
    <h3 style='min-width: 30rem'>Columns</h3>
    <!--<input disabled type="checkbox" id='specify-exact-size'>
        <label for='specify-exact-size'>Exact Filters</label><br>
    <input disabled type="checkbox" id='show-tire-height'>
        <label for='show-tire-height'>Tire Height</label><br>
    <input disabled type="checkbox" id='show-treadwear'>
        <label for='show-treadwear'>UTQG Treadwear Rating</label><br>
    -->
    <input type="checkbox" id='show-stddev'>
        <label for='show-stddev'>Min, Max, and Stddev</label><br>
</div>
