<!DOCTYPE html>
<html lang="en">
<head>
    {% block head %}
    <link rel="stylesheet" href="static/style.css" />
    <title>{% block title %}{% endblock %} Mean Tire Prices</title>
    {% endblock %}
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="Discover which tires are consistently cheap for your drift missile. Filter by at least one of wheel diameter, section width, and aspect ratio and see tires sorted by their mean (average) price.">
</head>
<body>
    <div id="content">{% block content %}{% endblock %}</div>
    <div class="footer">
        {% block footer %}
        Created by Jack Desert and Jeremy Reeder<br>
        Photos by #501DRIFT
        {% endblock %}
    </div>
</body>
</html>
