/*
html5doctor.com Reset Stylesheet
v1.6.1
Last Updated: 2010-09-17
Author: Richard Clark - http://richclarkdesign.com
Twitter: @rich_clark
*/

html, body, div, span, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
abbr, address, cite, code,
del, dfn, em, img, ins, kbd, q, samp,
small, strong, sub, sup, var,
b, i,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, figcaption, figure,
footer, header, hgroup, menu, nav, section, summary,
time, mark, audio, video {
    margin:0;
    padding:0;
    border:0;
    outline:0;
    font-size:4mm;
    vertical-align:baseline;
    background:transparent;
    font-family: arial;
}

body {
    line-height:1;
}

article,aside,details,figcaption,figure,
footer,header,hgroup,menu,nav,section {
    display:block;
}

nav ul {
    list-style:none;
}

blockquote, q {
    quotes:none;
}

blockquote:before, blockquote:after,
q:before, q:after {
    content:'';
    content:none;
}

a {
    margin:0;
    padding:0;
    font-size:100%;
    vertical-align:baseline;
    background:transparent;
}

/* change colours to suit your needs */
ins {
    background-color:#ff9;
    color:#000;
    text-decoration:none;
}

/* change colours to suit your needs */
mark {
    background-color:#ff9;
    color:#000;
    font-style:italic;
    font-weight:bold;
}

del {
    text-decoration: line-through;
}

abbr[title], dfn[title] {
    border-bottom:1px dotted;
    cursor:help;
}

table {
    border-collapse:collapse;
    border-spacing:0;
}

/* change border colour to suit your needs */
hr {
    display:block;
    height:1px;
    border:0;
    border-top:1px solid #cccccc;
    margin:1em 0;
    padding:0;
}

input, select {
    vertical-align:middle;
}

/* END Reset Stylesheet */



h1
{
  font-size: 2.5rem;
}

h2
{
  font-size: 1.5rem;

}

h1, h2, h3
{
  background: black;
  color: white;
  padding: 0.3rem 0.2rem;
  margin: 0 -0.2rem;
}

h1, h2, h3, h4, h5, h6
{
  font-family: serif;
}

.call-to-action
{
  font-size: 2rem;
  font-weight: bold;
}

.filters select
{
  width: 8.5em; /* Note em, not rem, so that width scales with text */
}

select, option
{
  font-size: 1.3rem;
}


/* Right align selects. See https://stackoverflow.com/questions/7920677/text-align-right-on-select-or-option#answer-43919388 */
.filters select { text-align-last: right; }
.filters option { direction: rtl; }

/*
option { direction: ltr; }
select { direction: rtl; }
*/



body
{
  padding: 0.2rem;
}

a
{
  color: #d20;
}

.stripe
{
  background-color: #f0eeee;
}


.error
{
  color: red;
  font-size: 1.5rem;
  margin-top: 0.5rem;
}

.hidden
{
  display: none;
}

th,td
{
  padding: 0.1rem 0.5rem;
}


tr,th,td
{
  text-align: left;
  vertical-align: middle;
}

/* See http://youmightnotneedjquery.com/ */
.transparent
{
  opacity: 0;
  transition: opacity 500ms;
}

.opaque
{
  opacity: 1;
  transition: opacity 1600ms;
}

.filters, .options
{
  margin-bottom: 1rem;
  float: left;
}


.filters
{
  padding-right: 2rem;
}


.clear
{
  clear: both;
}

.stddev, .utqg
{
  display: none;
}

.introduction
{
  padding: 0.5rem 0 1rem;
}

.footer
{
  padding-top: 2rem;
  color: #aaa;
}

.img
{
  width: 100%;
  text-align: left;
}


.space-1rem
{
  width: 1px;
  height: 1rem;
}

.space-2rem
{
  width: 1px;
  height: 2rem;
}

.space-3rem
{
  width: 1px;
  height: 3rem;
}
.space-4rem
{
  width: 1px;
  height: 4rem;
}

.show-all
{
  padding-top: 1rem;
}

